<div class="card card--product">
    <div class="row card--product__row">
        <div class="col-4 m-auto">
            <div class="container p-2">
                <img src="/{{product.src}}" alt="" class="img-fluid img-thumbnail card--product__img">
            </div>
        </div>
        <div class="col-8">
            <div class="card-header">
                <p class="card-title h2">{{product.name}}</p>
            </div>
            <div class="container p-2 card-body card--product__info">
                <p class="card-text card--product__info__text"><strong>ID: </strong>{{product.id}}</p>
                <p class="card-text card--product__info__text">
                    <i class="fa fa-heart" style="color: palevioletred;">: </i>
                    <span class="card--product__info__text">{{product.like}}</span>
                </p>
                <p class="card-text card--product__info__text"><strong>Price: $</strong>{{product.price}}</p>
                <p class="card-text card--product__info__text"><strong>Description: </strong>{{product.description}}</p>    
            </div>
            <div class="card-footer card--product__footer d-flex justify-content-end">
                <button class="btn card--product__footer__btn bg-main" data-toggle="modal" data-target="#editModal">Edit</button>
                <button class="btn card--product__footer__btn bg-danger" data-toggle="modal" data-target="#deleteModal">Remove</button>
            </div>
        </div>
    </div>
</div>
{{> modal-delete-warn}}
{{> modal-edit-product}}