<div>
    {{#each ads}}
        <div class="ads_{{pos}}" id="ads_{{id}}">
            <img src="https://mind-sharing.s3-ap-southeast-1.amazonaws.com/{{img}}" alt="ads_img" class="img-thumbnail ads_img">
            <button class="close_ads_{{pos}}" id="closeBtn_{{id}}"><i class="fas fa-window-close"></i></button>
        </div>
        <script>
            document.getElementById(`closeBtn_{{id}}`).addEventListener("click", function(e) {
                e.preventDefault();
                document.getElementById(`ads_{{id}}`).style.display = "none";
            });
            var distance = 0 + {{time}};
            var x_{{id}} = setInterval(function() {
                distance -= 1;
                if (distance < 0) {
                    clearInterval(x_{{id}});
                    document.getElementById(`ads_{{id}}`).style.display = "none";
                }
            }, 1000);
        </script>
    {{/each}}
</div>
<div class="card u-shadow-v18 g-bg-white mb-4 mx-5">
    <div class="card-header text-center title-bseller">
        <h3>Recommend Product</h3>
    </div>
    <div class="card-body d-flex justify-content-center">
        {{#each rec_cakes}}
        <figure class="d-inline-block m-2">
            <img src="{{this.src}}" class="img-thumbnail best_seller" style="width: 210px; height: 160px;" alt="Best_Seller_2" onclick="document.location.href='products/{{this.id}}'">
            <figcaption class="position-relative d-flex justify-content-center">{{this.price}}$</figcaption>
        </figure>
        {{/each}}
    </div>
    <div class="card-body d-flex justify-content-center">
        {{#each rec_drinks}}
        <figure class="d-inline-block m-2">
            <img src="{{this.src}}" class="img-thumbnail best_seller" style="width: 210px; height: 160px;" alt="Best_Seller_2" onclick="document.location.href='products/{{this.id}}'">
            <figcaption class="position-relative d-flex justify-content-center">{{this.price}}$</figcaption>
        </figure>
        {{/each}}
    </div>
    <div class="card-footer text-muted d-flex justify-content-center">
    <button type="button" onclick="location.href='/products'" class="btn btn-lg btn-block btn-TeaCake btn-menu mt-3">See our Menu</button>
    </div>
    </div>
    <div id="carouselId" class="carousel u-shadow-v18 g-bg-white slide my-3 mx-5" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#carouselId" data-slide-to="0" class="active"></li>
        <li data-target="#carouselId" data-slide-to="1"></li>
        <li data-target="#carouselId" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
        <div class="carousel-item active">
            <div class="row">
                <div class="col-md-7">
                    <img src="images/cake/cake1.jpg" style="width: 730px; height: 400px;" alt="First slide">
                </div>
                <div class="container col-md-4 p-3">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt officiis quas impedit dolor dolores, odit mollitia, atque quam quasi illum cum eum unde deserunt ab reiciendis soluta. Perferendis, ipsa beatae.
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="row">
                <div class="col-md-7">
                    <img src="images/cake/cake2.jpg" style="width: 730px; height: 400px;" alt="First slide">
                </div>
                <div class="container col-md-4 p-3">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt officiis quas impedit dolor dolores, odit mollitia, atque quam quasi illum cum eum unde deserunt ab reiciendis soluta. Perferendis, ipsa beatae.
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="row">
                <div class="col-md-7">
                    <img src="images/cake/cake3.jpg" style="width: 730px; height: 400px;" alt="First slide">
                </div>
                <div class="container col-md-4 p-3">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt officiis quas impedit dolor dolores, odit mollitia, atque quam quasi illum cum eum unde deserunt ab reiciendis soluta. Perferendis, ipsa beatae.
                </div>
            </div>
        </div>
    </div>
    <a class="carousel-control-prev" href="#carouselId" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselId" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>