<div class="container-fluid">
    <div class="row">
        <div class="col-lg-2 col-md-2 col-sm-3 col-xs-3 p-3">
                <ul class="menu side-bar__menu bg-main">
                    <li class="item side-bar__menu__item side-bar__menu__item--active" onclick="document.location.href='/admin/products'">
                        <a href="/products" class="side-bar__menu__item__link">Menu</a>
                    </li>
                    <li class="item side-bar__menu__item" onclick="document.location.href='/admin/products/add'">
                        <a href="/products/teas" class="side-bar__menu__item__link">Teas</a>
                    </li>
                    <li class="item side-bar__menu__item" onclick="document.location.href='/admin/add_ads'">
                        <a href="/products/cakes" class="side-bar__menu__item__link">Cakes</a>
                    </li>
                    <li class="item side-bar__menu__item" onclick="document.location.href='/admin/add_ads'">
                        <a href="/products/drinks" class=   "side-bar__menu__item__link">Drinks</a>
                    </li>
                </ul>
        </div>
        <div class="col-lg-10 col-md-10 col-sm-9 col-xs-9">
            <div class="row p-3">
                <h3 class="bg-main text-white w-100 p-2 text-center" style="font-size: 40px;">{{cate}}</h3>
            </div>
            
            {{#each rows}}    
            <div class="row card-group">
                {{#each this}}
                <div class="col-sm-8 col-md-6 col-lg-4 g-mb-30 tb-cell">
                    <div class="card u-shadow-v18 g-bg-white text-center rounded g-px-20 g-py-40 g-mb-5 h-100">
                        <div class="card-header d-flex align-items-center justify-content-center h-100 g-bg-white">
                            <img src="{{this.src}}" class="img-thumbnail product-img" onclick='document.location.href="/products/{{this.id}}"'>
                        </div>
                        <div class="card-body d-flex flex-column">
                            <h4 class="h5 g-color-black g-font-weight-600 g-mb-10">{{this.name}}</h4>
                            <p>{{this.description}}</p>
                            <span class="d-block g-color-primary g-font-size-16">${{this.price}}</span>
                            <button type="button" class="btn btn-lg btn-block btn-order mt-3 mx-auto">Order now</button>
                        </div>
                    </div>
                </div>
                {{/each}}
            </div>
            {{/each}}
        </div>
    </div>
</div>