<div class="container">
    <div class="text-center">
        <img src= "../images/background/{{user.bg}}.jpg" class="img-thumbnail background" alt="background">
    </div>
    <div class="text-center">
        <img src="../images/avatar/{{user.avt}}.png" class="img-thumbnail rounded-circle avatar" alt="avatar">
        <h1 class="username"> {{user.fname}} {{user.lname}} </h1>
    </div>
    <div class="info">
        <div class="card formColor">
            <div class="card-header bgColor">
                <h2 class="text-center">Public Profile</h2>
            </div>
            <div class="card-body">
                <div class="row m-2">
                    <div class="col-2 inputRow">
                        <h5>First Name</h5>
                    </div>
                    <div class="col inputRow">
                        <div class="form-row">
                            <input type="text" class="form-control p-4" name="first name" value="{{user.fname}}" disabled>
                        </div>
                    </div>
                </div>
                <div class="row m-2">
                    <div class="col-2 inputRow">
                        <h5>Last Name</h5>
                    </div>
                    <div class="col inputRow">
                        <div class="form-row">
                            <input type="text" class="form-control p-4" name="last name" value="{{user.lname}}" disabled>
                        </div>       
                    </div>
                </div>
                <div class="row m-2">
                    <div class="col-2 inputRow">
                        <h5>Email Address</h5>
                    </div>
                    <div class="col inputRow">
                        <div class="form-row">
                            <input type="text" class="form-control p-4" name="email" value="{{user.email}}" disabled> 
                        </div>
                    </div>
                </div>
                <div class="row m-2">
                    <div class="col-2 inputRow">
                        <h5>Phone number</h5>
                    </div>
                    <div class="col inputRow">
                        <div class="form-row">
                            <input type="text" class="form-control p-4" name="phone" value="{{user.pNum}}" disabled>
                        </div>
                    </div>
                </div>
                <div class="row m-2">
                    <div class="col-2 inputRow">
                        <h5>Birthday</h5>
                    </div>
                    <div class="col inputRow">
                        <div class="form-row">
                            <input type="text" class="form-control p-4" name="gender" value="{{user.bDay}}/{{user.bMonth}}/{{user.bYear}}" disabled>
                        </div>
                    </div>
                </div>
                <div class="row m-2">
                    <div class="col-2 inputRow">
                        <h5>Gender</h5>
                    </div>
                    <div class="col inputRow">
                        <div class="form-row">
                            <input type="text" class="form-control p-4" name="gender" value="{{user.gender}}" disabled>
                        </div>
                    </div>
                </div>
                <div class="row m-2">
                    <div class="col-2 inputRow">
                        <h5>Nationality</h5>
                    </div>
                    <div class="col inputRow">
                        <div class="form-row">
                            <input type="text" class="form-control p-4" name="nation" value="{{user.nation}}" disabled>
                        </div>
                    </div>
                </div>
                <div class="row m-2">
                    <div class="col-2 inputRow">
                        <h5>Bio</h5>
                    </div>
                    <div class="col inputRow">
                        <div class="form-row">
                            <input type="text" class="form-control p-4" name="phone" value="{{user.bio}}" disabled>
                        </div>
                    </div>
                </div>
                <button type="button" class="btn btn-lg btn-block btn-order mt-4 mx-auto" id="editBtn" style="width: 20%;"> Edit Profile</button>
            </div>
        </div>
    </div>
</div>