<div class="container">
    <div class="text-center">
        <img src= "../images/background/{{this_user.bg}}.jpg" class="img-thumbnail background" alt="background">
    </div>
    <div class="text-center">
        <img src="../images/avatar/{{this_user.avt}}.png" class="img-thumbnail rounded-circle avatar" alt="avatar">
        <h1 class="username"> {{this_user.fname}} {{this_user.lname}} </h1>
    </div>
    <div class="info">
        <form class="card formColor" action="profile/get_infor_user" method="post">
            <div class="card-header bgColor">
                <h2 class="text-center">Public Profile</h2>
            </div>
            <div class="card-body">
                <div class="row m-2">
                    <div class="col-2 inputRow">
                        <h5>First Name</h5>
                    </div>
                    <div class="col inputRow">
                        <div class="form-row">
                            <input type="text" class="form-control p-4" id="fname" name="fname" value="{{this_user.fname}}" disabled>
                        </div>
                    </div>
                </div>
                <div class="row m-2">
                    <div class="col-2 inputRow">
                        <h5>Last Name</h5>
                    </div>
                    <div class="col inputRow">
                        <div class="form-row">
                            <input type="text" class="form-control p-4" id="lname" name="lname" value="{{this_user.lname}}" disabled>
                        </div>       
                    </div>
                </div>
                <div class="row m-2">
                    <div class="col-2 inputRow">
                        <h5>Email Address</h5>
                    </div>
                    <div class="col inputRow">
                        <div class="form-row">
                            <input type="text" class="form-control p-4" id="email" name="email" value="{{this_user.email}}" disabled> 
                        </div>
                    </div>
                </div>
                <div class="row m-2">
                    <div class="col-2 inputRow">
                        <h5>Email Address</h5>
                    </div>
                    <div class="col inputRow">
                        <div class="form-row">
                            <input type="text" class="form-control p-4" id="address" name="address" value="{{this_user.address}}" disabled> 
                        </div>
                    </div>
                </div>
                <div class="row m-2">
                    <div class="col-2 inputRow">
                        <h5>Phone number</h5>
                    </div>
                    <div class="col inputRow">
                        <div class="form-row">
                            <input type="text" class="form-control p-4" id="phone" name="phone" value="{{this_user.pNum}}" disabled>
                        </div>
                    </div>
                </div>
                <div class="row m-2">
                    <div class="col-2 inputRow">
                        <h5>Birthday</h5>
                    </div>
                    <div class="col inputRow">
                        <div class="form-row">
                            <input type="text" class="form-control p-4" id="birthday" name="birthday" value="{{this_user.bDay}}/{{this_user.bMonth}}/{{this_user.bYear}}" disabled>
                        </div>
                    </div>
                </div>
                <div class="row m-2">
                    <div class="col-2 inputRow">
                        <h5>Gender</h5>
                    </div>
                    <div class="col inputRow">
                        <div class="form-row">
                            <input type="text" class="form-control p-4" id="gender" name="gender" value="{{this_user.gender}}" disabled>
                        </div>
                    </div>
                </div>
                <div class="row m-2">
                    <div class="col-2 inputRow">
                        <h5>Nationality</h5>
                    </div>
                    <div class="col inputRow">
                        <div class="form-row">
                            <input type="text" class="form-control p-4" id="nation" name="nation" value="{{this_user.nation}}" disabled>
                        </div>
                    </div>
                </div>
                <div class="row m-2">
                    <div class="col-2 inputRow">
                        <h5>Bio</h5>
                    </div>
                    <div class="col inputRow">
                        <div class="form-row">
                            <input type="text" class="form-control p-4" id="bio" name="bio" value="{{this_user.bio}}" disabled>
                        </div>
                    </div>
                </div>
                <button type="button" class="btn btn-lg btn-block btn-order btn-TeaCake mt-4 mx-auto" id="editBtn" style="width: 20%;"> Edit Profile</button>
                <button type="submit" class="btn btn-lg btn-block btn-order btn-TeaCake mt-4 mx-auto" id="cfmBtn" style="width: 20%; display:none"> Confirm</button>
            </div>
        </form>
    </div>
</div>
<script src="js/profile.js"></script>