<div class="container-fluid d-flex flex-column align-items-center mt-3">
    <div class="container d-flex flex-column align-items-center my-3">
        <div id="cart" class="container-fluid mb-2 p-3 ">
            <div class="card-header bg-info text-center" style="background: linear-gradient(to right,rgb(217, 230, 233),rgb(168, 236, 216), rgb(211, 231, 122), rgb(236, 222, 19));">
                <h1>Statistic</h1>
            </div>
            <div class="card-body bg-container">

            {{#each products}}
            <hr class="">
            <div class="row item my-2">
                
                <div class="col-3 item-img">
                    <img src="{{this.src}}" alt="" class="img-fluid img-thumbnail">
                </div>
                <div class="col-5 item-info">
                    <p class="item-info_name">{{this.name}}</p>
                    <p class="item-info_sold"><h3>Sold: {{this.sold}}</h3></p>
                    <p class="item-info_action">
                        <span class="item-info_buy-later ml-2" onclick='document.location.href="/products/{{this.id}}"'>View Product</span>
                    </p>
                </div>
                <div class="col-2 item_pricess">
                    <p class="item-pricess_real-price">${{this.price}}</p>
                    <p class="item-pricess_discount-price">
                    </p>
                </div>
            </div>
            {{/each}}
            </div>
        </div>
    </div>
</div>